<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>

    <h2>Current Second is <%= second%> </h2>

    <% if (second%2 == 0) { %>
        <% for(let i=0; i<items.length; i++) { %>
            <ul><%= items[i] %></ul>
        <% } %>     
    <% } else { %>
        <p>No item to display</p>
    <% } %>

    <%- htmlContent %>
    <%- include("footer.ejs") %>
</body>
</html>